$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

@import 'vendors/icomoon';
@import 'vendors/jcf';
@import 'vendors/fancybox';
@import 'layouts/header';
@import 'pages/inner';
@import 'layouts/common';
@import 'layouts/footer';

@import 'components/_mailchimp';

html {
	height: 100%;
}

body {
	min-width: 1270px;
	background:  #24262B;
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}

#wrapper {
	position: relative;
	overflow: hidden;
	display: table-cell;
	margin: 0 auto;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}
