//--------------------------------------------------
// list
//--------------------------------------------------
.ul {
  &-no-styling {
    list-style: none;
    margin: 0;
    padding: 0;
  }

//--------------------------------------------------
// list items
//--------------------------------------------------
  &__li {
    margin-bottom: 40px;
  }

    &__content {
      margin-left: 16px;
    }
}