h2 {
	font-size: 31px;
	line-height: 1.3;
	margin: 0 0 5px;
	font-weight: 700;

	&.style {
		font-size: 20px;
		margin: 0 0 27px;

		span {
			display: inline-block;
			vertical-align: top;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -20px;
				left: 0;
				right: -48px;
				height: 5px;
				background:#38C3D0;
			}
		}
	}
}

h1 {
	margin: 0 0 20px;
}

.toggle-wrap {
	position: absolute;
	top: 12px;
	right: 10px;

	.switch {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 44px;
		padding: 0;
		height: 25px;
		text-decoration: none;

		&:focus {
			outline: none;
		}
	}

	&.active .slider {
		background: #168993;
	}
	&.active .slider:before {
		transform: translateX(21px);
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent;
		transition: .4s;
		border-radius: 12.5px;
		border: 1px solid #FFFFFF;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 25px;
		width: 25px;
		left: -2px;
		background: #3FDCEA;
		bottom:-1px;
		transition: .4s;
		border-radius: 50%;
		border:1px solid $white;
	}
}

#main{
	width: 100%;
	background: $white;
	overflow: hidden;
	position: relative;
	min-height: calc(100vh - 82px - 59px);

	#content{
		padding-left: 25px;
		width: 100%;
		@include animate(all, 0.5s);
		overflow-y: auto;

		>.holder   {
			margin:0 0 0 15px;
			height: calc(100vh - 82px - 59px);
			position: relative;
		}

		iframe {
			position: absolute;
			top: -2px;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 100%;
			width: 100%;
			border:none;
		}
	}
}

.info-list {
	@extend %listreset;
	overflow: hidden;
	overflow-y: auto;
}

.accordion-item,
.info-list__item {
	display: block;
	font-size: 15px;
	display: block;
	transition:all 0.5s ease;
	position: relative;
	z-index: 1;
	position: relative;
	padding-right: 66px;
	border-bottom: solid 1px rgba(151, 151, 151, .61);

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		background-color: #156269;
		z-index: -1;
		@include animate(all,0.3s);
	}

	&:hover {
		&:after {
			width: 100%;
			right: 0;
		}
	}

	.accordion-opener,
	.info-list__a {
		text-decoration: none;
		padding: 16px 0 16px 18px;
		color: $white;
		display: block;

		&:focus {
			outline: none;
		}
	}

	&.active {
		.accordion-item {
			border-color:rgba(#979797,0.61);
		}

		a {
			border-color: transparent;
			&:after {
				width: 100%;
				right: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				background-color: #156269;
				height: 1px;
			}
		}
	}
}

.btn {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background:#38C3D0;
	padding: 6px 18px;
	min-width: 147px;
	text-decoration: none;
	font-weight: 500;
	color: #000;
	border-radius: 2px;
	overflow: hidden;
	font-size: 20px;
	line-height: 1.27;
	transition: all 0.5s ease;

	&.primary {
		font-size: 18px;
		text-transform: uppercase;
		border-radius: 2px;
		background: rgba(#D8D8D8,0.29);
		border: 1.5px solid transparent;
		color: $white;
		min-width: 186px;
		padding: 9px 10px;

		&:hover {
			background:#38C3D0;
			border-color: #38C3D0;
		}

		&.active {
			border-color: #38C3D0;
		}
	}

	span {
		font-size: 15px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 2px 5px;
	}

	&:hover {
		background: darken(#38C3D0, 15%);
	}

	&:focus {
		outline: none;
	}
}

.region-form {
	padding: 10px 44px 10px 18px;

	.jcf-select {
		width: 100%;
		background:transparent;
		margin: 0;
	}
}

.popup-holder {
	position: relative;
	height: 0;
	overflow: hidden;
}

.popup {
	width: 990px;
	padding: 0;

	&.sm {
		width: 975px;

		.content-holder {
			line-height: 1.47;
			font-size: 18px;

			p {
				margin: 0 0 72px;
			}
		}

		.btn {
			min-width: 180px;
		}
	}

	&.walkthrough {
		width: 830px;

		.content-holder {
			font-size: 14px;

			.text {
				max-width: 537px;
			}

			h2 {
				margin: 0 0 25px;
			}
		}

		.info-wrap {
			vertical-align: top;
		}
	}

	&.lg {
		width: 1110px;

		.content-holder {
			font-size: 20px;
			line-height: 1.55;
		}
	}

	.info-wrap {
		width: 100%;
	}

	.content-holder {
		height: 651px;
		text-align: center;
		padding: 40px 25px;
		color: $white;
		display: table;
		table-layout: fixed;
		font-size: 17px;
		line-height: 1.7;
		margin: 0 auto;

		p {
			margin: 0 0 45px;
		}
	}

	.title {
		display: block;
		margin: 0 0 22px;
		font-size: 16px;
	}

	.info-wrap {
		display: table-cell;
		vertical-align: middle;
	}

	.text {
		max-width: 645px;
		margin: 0 auto;

		&.left {
			text-align: left;
			h2,
			.title,
			.image-holder {
				text-align: center;
				display: block;
			}
		}
	}

	.logo-wrap {
		margin: 0 0 52px;

		a {
			display: inline-block;
			vertical-align: top;
			max-width: 252px;
			margin: 0 auto;
			width: 100%;
		}
	}

	.btn {
		padding: 11px 18px 13px;
	}

	.image-list {
		@extend %listreset;
		margin: 0 -15px;
		text-align: center;
		font-size: 0;
		line-height: 0;

		li {
			display: inline-block;
			font-size: 15px;
			line-height: 1.3;
			vertical-align: top;
			// width: 50%;
			padding: 15px;
		}
	}
}

#popup-on-load {
	.fancybox-close-small {
		display: none;
	}

}

.box {
	&--white {
		background-color: white;
		margin-bottom: 20px;
		padding: 30px 24px;
	}
}
