#footer {
	background: #24262B;
	color: $white;

	.footer {
		padding: 0 20px;
		height: $footer-height;

		&__logo { 
			margin-left: 18px;
			width: auto; height: 36px; 
		}

		&__link { 
			color: $white;
			margin: 0 6px;
			text-decoration: none;

			&:hover { text-decoration: underline; }
		}
	}
}