#footer {
	outline-style: groove;
	display: table-footer-group;
	height: 1%;
	background:  #24262B;
	color: $white;
	text-align: center;

	.footer {
		padding: 20px;

		position: relative;

		&__logo {
			width: auto; height: 40px;
			
			position: absolute;
			top: 12px;
			right: 20px;
		}
	}

	p {
		margin: 0;
	}
}